@media screen and (max-width: 520px){
    .header-title{
        font-size: 24px !important;
        color: #fff !important;
        text-decoration: none;
    }
    .my-custom-navbar{
        justify-content: start;
    }
    .my-dropdown{
        font-size: 20px;
        zoom: 0.75;
    }
}

@media screen and  (min-width: 1200px){
    .header-title{
        font-size: 36px !important;
        color: #fff !important;
        text-decoration: none;
    }
    .my-custom-navbar{
        justify-content: space-between;
    }
    .my-dropdown{
        font-size: 18px;
        zoom: 0.9;
    }
}
